@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&amp;display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  transition: all 0.2s ease-in;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  position: relative;
  margin: 0; /* Add this line to remove default body margin */
}

body::-webkit-scrollbar {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.moncef-container {
  position: absolute;
  top: -100px;
  left: 160px;
}

.moncefpng {
  width: 510px;
  height: 745px;
  margin: 5px;
  padding: 5px;
  border-radius: 10%;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.h5 {
  margin-top: 100px;
}

.aboutme {
  font-size: 55px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.developer {
  font-size: 18px;
  margin-bottom: 10px;
}

.info-container, .contactinformation {
  margin-top: 100px;
  margin-left: 800px;
}

.email {
 margin-left: 700px;
 margin-top: -50px;
}

.phonenumber {
  margin-left: 700px;
  margin-top: -20px;
 }
 
 .contact {
  margin-left: 600px;
  margin-top: -60px;
 }

 .country {
  margin-left: 700px;
  margin-top: -80px;
 }

.name {
  font-size: 30px;
  margin-top: 10px;
  position: absolute;
  top: 70px;
  left: 10px;
  white-space: nowrap;
}

.phonenumber, .country, .email {
  font-size: 20px;
  position: absolute;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hidden {
  display: none;
}

.dark-mode {
  background-color: black;
}

.dark-mode h1, .dark-mode h5, .dark-mode p {
  color: #f6f4e6;
}

.darkmodebutton {
  position: fixed;
  top: 10px;
  right: 10px;
  border-width: 0px;
  background-color: transparent;
  font-size: 1.2em;
}

#main-footer {
  background-color: #000;
  color: #fff;
  padding: 20px; /* Adjusted padding */
  text-align: center;
  position: fixed; /* Adjusted to fixed */
  bottom: 0;
  width: 100%;
  z-index: 1000;
  font-size: 18px;
}

.dark-mode #main-footer {
  background-color: #f6f4e6;
  color: #1d1c1a;
}

.dark-mode .name, .dark-mode .phonenumber, .dark-mode .email, .dark-mode .country {
  color: #1d1c1a;
}

.moncefpng, #aaron-image, #travisscott-image {
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .moncef-container, .info-container, .contactinformation, .phonenumber, .country, .email {
    left: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .moncefpng {
    width: 100%;
    height: auto;
  }

  .info-container, .contactinformation, .phonenumber, .country, .email {
    left: 10px;
    margin-left: 10px;
    margin-top: 20px;
  }
}
